@using static BlazorMQTT.Data.MQTTState;
@page "/MQTTBrokerData"

<h3>MQTTBrokerData</h3>

@foreach(Entry entry in MQTTTree)
{
    <MQTTDataEntry entry="@entry"></MQTTDataEntry>
}
@MQTTTree.Count

@code {
    protected override void OnInitialized()
    {
        OnChange += OnChangeHandler;

    }

    private async void OnChangeHandler()
    {
        await InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        OnChange -= OnChangeHandler;
    }
}
